body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-weight: bold;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}
.intro{
  margin: auto;
  width: 80%;
}
p{
  line-height: 2;
}
h2{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #16697a;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

h3{
margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #16697a;
  margin-bottom: 10px;
  margin-top: 10px;
}
.unordered{
  text-align: left;
}

.top{
  background-color: #9ad3bc;
  position: relative;
  padding-top: 100px;
}
.topcloud{
  position: absolute;
  right: 350px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}
.middle-container{
  margin:50px 0;
}
.mypicture{
  border-radius: 50%;
  object-fit:cover;
  max-width: 100%;
  max-height: 100%;
}
.skill2{
  border-radius: 50%;
  object-position: center;
  max-height: 100%;
  max-width: 100%;
}
.footer-link{
  font-style: italic;
  font-weight: bold;
}
.bottom-container{
  background-color: #9ad3bc;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
}
.copywright{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  font-style: italic;

}
  hr{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  width: 7%;
  height: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-width: 5px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 12px;
   line-height: 13px;
   color: #FFFFFF;
   font-family: Arial;
   width: 145px;
   font-size: 20px;
   font-weight: 500;
   padding: 14px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #9ad3bc 1px;
   background: #9ad3bc;
   background-image: -webkit-linear-gradient(top, #3D94F6, #103968);
   background-image: -moz-linear-gradient(top, #3D94F6, #103968);
   background-image: -ms-linear-gradient(top, #3D94F6, #103968);
   background-image: -o-linear-gradient(top, #3D94F6, #103968);
   background-image: -webkit-gradient(to bottom, #3D94F6, #103968);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.intro{

}
